<h1>Listing questionares</h1>

<table>
  <tr>
    <th>Question</th>
    <th>Time min</th>
    <th>Time sec</th>
    <th>Interview</th>
    <th>User</th>
  </tr>

<% @questionares.each do |questionare| %>
  <tr>
    <td><%=h questionare.question %></td>
    <td><%=h questionare.time_min %></td>
    <td><%=h questionare.time_sec %></td>
    <td><%=h questionare.interview_id %></td>
    <td><%=h questionare.user_id %></td>
    <td><%= link_to 'Show', questionare %></td>
    <td><%= link_to 'Edit', edit_questionare_path(questionare) %></td>
    <td><%= link_to 'Destroy', questionare, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New questionare', new_questionare_path %>