<script>
function candidate_demo()
  {
    new Ajax.Updater({success:'candidate_demo',failure:'error'}, '/sessions/candidate_demo', {asynchronous:true, evalScripts:true, onComplete:function(request){open_movie('candidate_demo')}}); return false;
  }
</script>
<%#= @msg %>
<div id="slidedeck_frame_wrapper" style="float: left;">
            <div id="slidedeck_frame">
    			<dl class="slidedeck outerSlidedeck">
    				<dt>Slide 1</dt>
    				<dd>
                        <ul class="slidesVertical">
                            <li>
                              <div class="bgj_a" style="margin-top: 320px;"> <a href="./users/static_page/1?name=price" border="0"><img src="../images/slidedeck/plans.png" alt="Step 1" border="0"/></a></div>
							</li>
                            <li>


                            </li>
                            <li>

						    </li>
                            <li>

								<div id="inner_slidedeck_wrapper">
                                    <div id="inner_slidedeck_frame">
                            			<dl class="innerSlidedeck slidedeck">

                            				<dd><a href="#" border="0"><img src="../images/slidedeck/cr_int.png" alt="Step 1" border="0"/></a></dd>
                                                        <dd><a href="#" border="0"><img src="../images/slidedeck/cr_int_2.png" alt="Step 2" border="0"/></a></dd>
                            				<dd><a href="#" border="0"><img src="../images/slidedeck/cr_int_3.png" alt="Step 3" border="0"/></a></dd>
                            			</dl>
                                    </div>
                                </div>

							</li>
                            <li>
                            </li>

                        </ul>
    				</dd>
    			</dl>
            </div>
            <div id="feature_demo_overlay_popup" style="display: none;"><img src="images/slidedeck/overlay_popup.png" alt="Overlay Feature Demo" /></div>
        </div>

<div style="float: right;">
  <div class="sign_box">
    <h3 >New to HiringSimplified?</h3>
   <div class="spacer"></div>
    <div class="btn_sign" onclick="open_dg('regis', 500, 'auto')"></div>
    <div class="spacer"></div>
    
  </div>
<div class="spacer"></div>
<div class="sign_box">
  <h3 >Video Demo for Recruiter</h3>
    <a href="#" border="0" onclick="open_dg('rec_demo','auto','auto');"><img src="../images/vdo_demo_rec.png" alt="Step 1" border="0"/></a>

  </div>
<div class="spacer"></div>
  <div class="sign_box">
    <h3 >Video Demo for Candidate</h3>
    <a href="#" border="0" onclick="open_dg('candidate_demo','auto','auto');"><img src="../images/vdo_demo_candi.png" alt="Step 1" border="0"/></a>
      </div>

</div>
<div class="spacer"></div>
<div id="candidate_demo" style="display:none">  
  <object width="640" height="385"><param name="movie" value="http://www.youtube.com/v/nCJlACOud6w?fs=1&amp;hl=en_US&amp;color1=0x006699&amp;color2=0x54abd6"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/nCJlACOud6w?fs=1&amp;hl=en_US&amp;color1=0x006699&amp;color2=0x54abd6" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="640" height="385"></embed></object>
</div>

<div id="rec_demo" style="display:none">
  <object width="640" height="385"><param name="movie" value="http://www.youtube.com/v/zYtWyrcobNA?fs=1&amp;hl=en_US&amp;color1=0x006699&amp;color2=0x54abd6"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/zYtWyrcobNA?fs=1&amp;hl=en_US&amp;color1=0x006699&amp;color2=0x54abd6" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="640" height="385"></embed></object>
</div>




<div style="display: none;">

  <div align="left" class="candidate_signup_box" id="regis" >
     <h3>New User</h3>
     <div style="text-align: left;">
    <% form_for :user, :url => users_path do |f| %>
    <%= hidden_field :user, :user_type, :value => "recruiter" %>

  <div style="">
      <div style="float: left; margin-top: 5px;padding-right: 15px;">
        Company:<br />
        <%= f.text_field :company_name,:class=>'required' %>
     </div>
  </div>

    <div>
      <div style="float: left; margin-top: 5px;padding-right: 15px;">
        Email:<br />
        <%= f.text_field :email,:class=>'required'  %>
     </div>
  </div>

     <div class="spacer"></div>


     <div>
      <div style="float: left; margin-top: 5px;padding-right: 15px;">
        Password:<br />
        <%= f.password_field :password,:class=>'required'  %>
     </div>
  </div>

     <div>
      <div style="float: left; margin-top: 5px;padding-right: 15px;">
        Confirm Password:<br />
        <%= f.password_field :password_confirmation ,:class=>'required' %>
     </div>
  </div>

     <div class="spacer"></div>


    <div>
      <div style="float: left; margin-top: 5px;padding-right: 15px;">
        First Name:<br />
        <%= f.text_field :first_name ,:class=>'required'  %>
     </div>
  </div>

     <div>
      <div style="float: left; margin-top: 5px;padding-right: 15px;">
        Last Name:<br />
        <%= f.text_field :first_name ,:class=>'required'  %>
     </div>
  </div>
<div class="spacer"></div>
     <div>
      <div style="float: left; margin-top: 5px;padding-right: 15px;">
        City:<br />
        <%= f.text_field :city,:value=>'city',:class=>'required'  %>
     </div>
  </div>

     <div>
      <div style="float: left; margin-top: 5px;padding-right: 15px;">
        State:<br />
        <select name="user[state]" class="required" >
            <option value="" selected="selected">Select State</option>
            <option value="AL">Alabama</option>
            <option value="AK">Alaska</option>
            <option value="AZ">Arizona</option>
            <option value="AR">Arkansas</option>
            <option value="CA">California</option>
            <option value="CO">Colorado</option>
            <option value="CT">Connecticut</option>
            <option value="DE">Delaware</option>
            <option value="DC">District Of Columbia</option>
            <option value="FL">Florida</option>
            <option value="GA">Georgia</option>
            <option value="HI">Hawaii</option>
            <option value="ID">Idaho</option>
            <option value="IL">Illinois</option>
            <option value="IN">Indiana</option>
            <option value="IA">Iowa</option>
            <option value="KS">Kansas</option>
            <option value="KY">Kentucky</option>
            <option value="LA">Louisiana</option>
            <option value="ME">Maine</option>
            <option value="MD">Maryland</option>
            <option value="MA">Massachusetts</option>
            <option value="MI">Michigan</option>
            <option value="MN">Minnesota</option>
            <option value="MS">Mississippi</option>
            <option value="MO">Missouri</option>
            <option value="MT">Montana</option>
            <option value="NE">Nebraska</option>
            <option value="NV">Nevada</option>
            <option value="NH">New Hampshire</option>
            <option value="NJ">New Jersey</option>
            <option value="NM">New Mexico</option>
            <option value="NY">New York</option>
            <option value="NC">North Carolina</option>
            <option value="ND">North Dakota</option>
            <option value="OH">Ohio</option>
            <option value="OK">Oklahoma</option>
            <option value="OR">Oregon</option>
            <option value="PA">Pennsylvania</option>
            <option value="RI">Rhode Island</option>
            <option value="SC">South Carolina</option>
            <option value="SD">South Dakota</option>
            <option value="TN">Tennessee</option>
            <option value="TX">Texas</option>
            <option value="UT">Utah</option>
            <option value="VT">Vermont</option>
            <option value="VA">Virginia</option>
            <option value="WA">Washington</option>
            <option value="WV">West Virginia</option>
            <option value="WI">Wisconsin</option>
            <option value="WY">Wyoming</option>

          </select>
     </div>
  </div>
     <div class="spacer"></div>
     <div style="font-size: 13px; width: 100%;"><%= f.check_box :agree ,:style=>"width:20px;"%>I agree to the <a href="/users/static_page/1?name=terms" style="color: #a52a2a;font-weight: bold;">Terms & Conditions</a></div>

      <div class="spacer"></div>

      <%= submit_tag 'Create' ,:class=>"silver_button_blue" ,:style=>"border:0;float:right;" %>

      <div class="spacer"></div>
     
<% end %>

      </div>
</div>
</div>

