<div style="float: right;height: 40px;">
<% if logged_in? -%>
  <div style="margin-top: 10px;">
  <div style="float: left;padding-top: 5px;padding-right: 5px;font-weight: bold;font-size: 8pt;" class="white">
    <%=session[:user_name]%><%if current_user.parent_id == nil%><a href="/users/profile" class="grey_link" title="click to edit your account settings">My Account</a><%end%><%= link_to "Sign Out", logout_path, { :class=>"grey_link" }%>
  </div>
    
  </div>
<% else -%>
  <div style="display: none;">
    <div style="text-align: left;" id="login">
      <div style="padding: 20px;">
  <% form_tag session_path do -%>




    <% if params[:frm] == "inv" %>
      <%flash[:user_type] = "candidate"%>
    <% else %>
 
      <div class="grey_text" style="text-align: left;color: #3764af;" >username : <br />
      
        <%= text_field_tag 'login', @login,:class=>"lg",:value =>"",:onfocus =>"",:onblur => "" %>
      <br />
    password:<br />
        
          <%= password_field_tag 'password', nil,:class=>"lg",:value => "", :id =>"password",:style=>'font-size:10pt;' %>
        <br />
  
  <div style="float: left;text-align: left;">
    
      <%= submit_tag '', :class=>"login_button" %>
  </div>
      </div>
        <div class="spacer"></div>
</div>
      </div>
 </div>
  <div style="margin-left: 5px;"><a href="/passwords/new" class="while_link" >Forgot your password ?</a></div>
  <div class="login_button" onclick="open_dg('login', 'auto', 'auto')"></div>
      
    <% end %>


  <% end -%>
<% end -%>
</div>