<%= javascript_include_tag :defaults  %>
<h1>Listing categories</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Category type</th>
    <th>User</th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%=h category.name %></td>
    <td><%=h category.category_type %></td>
    <td><%=h category.user_id %></td>
    <td><%= link_to 'Show', category %></td>
    <td><%= link_to 'Edit', edit_category_path(category) %></td>
    <td><%= link_to 'Destroy', category, :confirm => 'Are you sure?', :method => :delete %></td>
    <td><%= link_to_remote "Add Question", :url => { :controller => "category_questions", :action => "add_question", :cat_id => category.id},
            :update => { :success => "question", :failure => "error"}%></td>

  </tr>
<% end %>
</table>

<br />

<%= link_to 'New category', new_category_path %> | 
<a href="/categories/by_csv/1" >Add Category by CSV file</a>
<div id="question"></div>
<div id="error"></div>